<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @car.image.url(:medium) %>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Brand:</strong></td>
                <td><%= @car.brand %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @car.description %></td>
              </tr>
              <tr>
                <td><strong>Horsepower:</strong></td>
                <td><%= @car.horsepower %></td>
              </tr>
              <tr>
                <td><strong>Designer:</strong></td>
                <td><%= @car.designer %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @car.rating %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
