<%= image_tag @car.image.url(:medium) %>
<p>
  <strong>Brand:</strong>
  <%= @car.brand %>
</p>

<p>
  <strong>Description:</strong>
  <%= @car.description %>
</p>

<p>
  <strong>Horsepower:</strong>
  <%= @car.horsepower %>
</p>

<p>
  <strong>Designer:</strong>
  <%= @car.designer %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @car.rating %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
